<h2>News Scrape!</h2>
<h4>A resource site for all of your news!</h4>

<button id = "submit" data-target="Scrape">Submit</button>
<textarea rows = "10" cols = "60" id = "eText"></textarea>
<div id="articles"></div>

<style>
     #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
</style>

