.image-size {
    max-width: 300px;
    height: auto;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgColor {
      background-color: darkslategray
  }